@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: auto;
}

:root {
    --white: white;
    --black: black;
}
/*nav*/
nav {
    background-color: rgb(110, 15, 85);
    margin: 0px;
}
/*photo profile*/
nav .moi {
    width: 10%;
    border-radius: 50%;
    background-size: cover;
    margin-left: 20px;
    margin-top: 20px;
}
/*menu cacher*/
nav ul {
    display: none;
    list-style-type: none;
    padding: 0 32px;
    margin-bottom: auto;
}
/*couleur du menu de nav*/
nav ul li .centre {
    background-color: rgb(235, 166, 235);
    width: 40%;
    border: 1px solid var(--black);
    border-radius: 20px;
}
/*menu ouverture*/
.open {
    display: block; 
    margin-bottom: 0;
}
/*lien ancre*/
nav li a {
    color: var(--black);
    text-decoration: none;
    display: flex;
    justify-content: center;
}
/*menu burger*/
nav a .burger {
    display: flex;
    text-align: center;
}
/*présentation*/
header h1 {
    font-size: 2rem;
    color: var(--white);
}
header h2 {
    font-size: 0.9rem;
    color: var(--white);
}
/*hauteur fond du header*/
header div {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;                                     
}
header .fond-header {
    background: url(../images/pexels-markus-spiske-177598.png)  no-repeat;
    background-size: cover;
}
/*main A propos de moi*/
main section {
    margin-top: 25px;           /*espace titre et header 25px*/
}
main section h1,div {
    text-align: center;
    font-size: 1.2rem;
}
/*texte A propo de moi*/
main section p {
    font-size: 1rem;
    margin: 20px 20px;
    text-align: justify;
}
/*titre actuellement*/
main div h2 {
    font-size: 1.2rem;
}
/*lien internet "ici"*/
main div a {
    color: var(--black);
    text-decoration: none;
}
/*titre des compétence*/
main section h3 {
    font-size: 0.8rem;
    text-align: center;
}
/*dessin des traits de compétences*/
main section .php {
    background: linear-gradient(to right, black 35%, gray 35% 100%);
    color: var(--white);
}
main section .sql {
    background: linear-gradient(to right, black 75%, gray 75% 100%);
    color: var(--white);
}
main section .symfony {
    background: linear-gradient(to right, black 40%, gray 40% 100%);
    color: var(--white);
}
main section .angular {
    background: linear-gradient(to right, black 20%, gray 20% 100%);
    color: var(--white);
}
main section .html {
    background: linear-gradient(to right, black 70%, gray 70% 100%);
    color: var(--white);
}
main section .css {
    background: linear-gradient(to right, black 65%, gray 65% 100%);
    color: var(--white);
}
main section .javascript {
    background: linear-gradient(to right, black 50%, gray 50% 100%);
    color: var(--white);
}
main section .wordpress {
    background: linear-gradient(to right, black 50%, gray 50% 100%);
    color: var(--white);
}
main section .bootstrap {
    background: linear-gradient(to right, black 75%, gray 75% 100%);
    color: var(--white);
}
/*image de mon cv*/
main section .mon-cv {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 20px auto;
}
/*lien pour télécharger cv*/
main section a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: var(--white);
    background-color: rgb(235, 166, 235);
    width: 35%;
    border-radius: 20px;
    padding: 5px;
}
/*footer*/
footer h1 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
footer p {
    font-size: 1rem;
    margin: 20px 20px;
    text-align: justify;
}
/* fond du formulaire*/
footer .contact {
    background: linear-gradient( to top,rgba(235, 166, 235,0.6)  ,rgba(110, 15, 85,0.6) 70% );
    color: var(--white);
    border-radius: 10px;
}
/*lien de communication*/
footer ul li a {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}
/*bouton acceptation des données personnel*/
footer .but {
    margin: 20px 20px;
}
/*lien de communication*/
footer div .adresse {
    margin: 20px auto;
}
footer div .adresse ul {
    padding: 0;
    margin: auto;
    list-style-type: none;
}
footer div .adresse li {
    margin: 25px auto;
}
/*couleur linkedin*/
footer div .adresse .bi-linkedin {
    color: blue;
}
/*chevron pour monter en haut de page*/
footer .chevron {
    margin: 20px;
}
/*copyright*/
footer .copy {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--white);
}
/*fond du footer*/
footer .fondufooter {
    background-color: rgb(110, 15, 85);
    margin: 0px;
}

